<div th:fragment="error403">
<meta charset="utf-8">

<!-- <div class="jumbotron"> -->
<!--   <h1 class="display-4">Hello, world!</h1> -->
<!--   <h3 th:inline="text">SEJA BEM-VINDO! [[${#httpServletRequest.remoteUser}]]... VOCÊ É O CARA!</h3> -->
<!--   <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
<!--   <hr class="my-4"> -->
<!--   <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
<!--   <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
<!-- </div> -->

<!-- <div class="jumbotron"> -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="p-3 mb-2 bg-dark text-white">
  <blockquote class="blockquote text-center">
	  <h1 class="display-1 text-danger" >ERROR 403</h1>
	  <p class="text-danger" th:text="${pageTitle}"></p>
	  <h3 th:inline="text"> [[${#httpServletRequest.remoteUser}]] SEU ACESSO FOI NEGADO...</h3>
	  <p class="lead text-white bg-dark">Pedimos desculpas, mas você não possui a permissão necessária para acessar essa página ou conteúdo.</p>
	  <hr class="my-4">
	  <p>Por favor, utilize o Botão / Link abaixo para voltar a pagina INDEX do sistema, ou utilize a opção voltar do seu navegador para retornar a página anterior!</p>
	  <a class="btn btn-primary btn-lg" href="/" role="button">RETORNAR</a>
  </blockquote>
  </div>
<!-- </div> -->

</div>
