<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--#### INICIO DO LAYOUT CSS #### -->
    <link th:replace="/bFragmentsCssJsLinks/shared_css_links::bootstraplayoutBaseLink"/>
    <link th:replace="/bFragmentsCssJsLinks/shared_css_links::fontawesomeBaseLink"/>
	<!--#### FIM DO LAYOUT CSS #### -->
    
    <title>500 ERROR</title>
  </head>
  <body>
  
   <!-- HEADER-INSERT VIA TEMPLATE -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:include="/aFragments/header::header"></nav>		
	 
   <br><!-- ESPAÇOS SEPARADOS COM ESSA GAMBIARRA DOS BR ADD ESPAÇO NA DIV DOS CONTEUDOS INCLUIDOS --> 
   
   <!-- #### INICIO CONTEUDO DO CORPO DA PÁGINA #### -->
   <div th:include="/error/500AppFragmentBody::error500"></div>
   <!-- #### FIM CONTEUDO DO CORPO DA PÁGINA #### --> 

   <!--FOOTER-INSERT VIA TEMPLATE -->
   <footer class="bg-dark text-white mt-4 fixed-bottom" th:include="/aFragments/footer::footer"></footer>

   <!--#### INICIO DO JAVASCRIPT #### -->
   <script th:replace="/bFragmentsCssJsLinks/shared_js_links::jqueryBaseLink"></script>
   <script th:replace="/bFragmentsCssJsLinks/shared_js_links::popperBaseLink"></script>
   <script th:replace="/bFragmentsCssJsLinks/shared_js_links::bootstrapBaseLink"></script>

   <script type="text/javascript" 
    		th:inline="javascript">
	//ESPAÇO PARA SCRIPTS PERSONALIZADOS ESPECÍFICOS DE CADA VIEW...
   </script>
   <!--#### FIM DO JAVASCRIPT #### --> 
    
  </body>
</html>