<script th:fragment="jqueryBaseLink" type="text/javascript" src="/webjars/jquery/3.0.0/jquery.js"></script>

<script th:fragment="popperBaseLink" type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	
<script th:fragment="bootstrapBaseLink" type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- #### USADO NO DATATABELE JS APENAS #### -->
<script th:fragment="datatablesBaseLink" type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>

<!-- #### USADO NO DATATABELE JS APENAS #### -->
<script th:fragment="datatablesJqueryBaseLink" type="text/javascript" src="/vendor/datatable/js/jquery.dataTables.min.js"></script>

<!-- #### USADO NO DATATABELE JS APENAS #### -->
<script th:fragment="datatablesResponsiveBaseLink" type="text/javascript" src="/vendor/datatable/js/dataTables.responsive.min.js"></script>

<!-- #### USADO NO DATATABELE JS APENAS #### -->
<script th:fragment="datatablesPersonalBaseLink" type="text/javascript" src="/vendor/datatable/datatable.js"></script>

<!-- #### USADO NO DATATABELE JS DE EXPORTAÇÃO APENAS #### -->
<script th:fragment="datatablesExportPersonalBaseLink" type="text/javascript" src="/vendor/datatable/datatableExport.js"></script>

<!-- ### PERSONALIZADO VIEW INDEX DA CONTATANTE ### -->
<script th:fragment="indexViewActions" type="text/javascript" src="/personal/js/IndexViewDeleteEditActions.js"></script>

<!-- ### PERSONALIZADO VIEW INDEX DA CONTATANTE COM DATA-TABLE JS ### -->
<script th:fragment="indexViewActionsDataTable" type="text/javascript" src="/personal/js/IndexDataTableJsViewDeleteEditActions.js"></script>
