<!-- Bootstrap CSS -->
<link th:fragment="bootstraplayoutBaseLink" rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>

<!-- ICONES USADOS NO PROJETO -->
<link th:fragment="fontawesomeBaseLink" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"/>

<!-- USADO NO DATATABLE JS COMO NO EXEMPLO DO FORNECEDOR -->
<link th:fragment="jquerylayoutBaseLink" rel="stylesheet" href="/vendor/datatable/css/jquery.dataTables.min.css">
	
<!-- USADO NO DATATABLE JS COMO NO EXEMPLO DO FORNECEDOR -->
<link th:fragment="responsivelayoutBaseLink" rel="stylesheet" href="/vendor/datatable/css/responsive.dataTables.min.css">	