<div th:fragment="addEditModal">
	<meta charset="utf-8">

	<div class="modal fade" id="addEntityEditModal" 
		 tabindex="-1" 
		 role="dialog" 
		 aria-labelledby="addModalLabel" 
		 aria-hidden="true">
		<form action="#" th:action="@{/contratante/saveOrUpdate}" th:object="${contratante}" class="needs-validation" method="POST" novalidate>
			<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="addModalLabel">ADICIONAR NOVA CONTRATANTE...</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close"  onClick="refreshPage()">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
				
			<!-- <div class="form-group"> -->
				<!-- <label class="col-form-label" for="doCodigo">Codigo Pk:</label> -->
				<input type="hidden" readonly="true" class="form-control" placeholder="Id Gerado" id="doCodigo" name="codigo">
			<!-- </div> -->
<!-- 			  text-uppercase --> <!-- AQUI APENAS USANDO A CLASSE CSS DO BOOTSTRAP -->
				<div class="form-group">
				  <label class="col-form-label" for="doNome">Nome:</label>
				  <input type="text" class="form-control" placeholder="Add o Nome" id="doNome" name="Nome" required>
				  <div class="invalid-feedback"><h7>* NOME da CONTRATANTE é OBRIGATÓRIO!</h7></div>
				</div>
				
				<div class="form-group">
				  <label class="col-form-label" for="doSobreNome">Sobre Nome:</label>
				  <input type="text" class="form-control" placeholder="Add o Sobre Nome" id="doSobreNome" name="SobreNome" required>
				  <div class="invalid-feedback"><h7>* SOBRE NOME da CONTRATANTE é OBRIGATÓRIO!</h7></div>
				</div>
				
				<div class="form-group">
				  <label class="col-form-label" for="doCpfnum">CPF:</label>
				  <input type="text" class="form-control" placeholder="Add CPF" id="doCpfnum" name="Cpf" required>
				  <div class="invalid-feedback"><h7>* O número do CPF é OBRIGATÓRIO!</h7></div>
				</div>
	
				<label class="col-form-label" for="doEmail">E-MAIL:</label>
				<div class="input-group">
					<div class="input-group-prepend">
			          <span class="input-group-text" id="inputGroupPrepend">@</span>
			        </div>
				<input type="email" 
					   class="form-control" 
					   placeholder="Add e-mail válido" 
					   id="doEmail" 
					   name="Email1"
					   required >
				<div class="invalid-feedback"><h7>* E-MAIL INVÁLIDO sem o ARROBA ( @ ) -- Ou campo NÃO foi PREENCHIDO!</h7></div>
				</div>
	
			 </div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-sm mb-3 btn-secondary" data-dismiss="modal"  onClick="refreshPage()">FECHAR</button>
			  <button type="submit" class="btn btn-sm mb-3 btn-success">SALVAR / EDITAR</button>			  
			</div>
		  </div>
		</div>
		</form>	
	  </div>
	  
</div>